<%= form_with(url: rooms_path, method: :post, local: true) do |form| %>
  <div>
    <%= form.text_field :name, 
      placeholder: "Name", 
      required: true, 
      class: "w-[20vw] p-1 mb-2 border-2 border-black rounded-md" %>
  </div>
  
  <div>
    <%= form.submit "Create / Join Room", 
      class: "w-[20vw] p-1 border-2 border-blue-600 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition cursor-pointer" %>
  </div>
<% end %>
